{% extends "layout.html" %}

{% block title %}
    End
{% endblock %}

{% block main %}
	<div class="header">
		<h1>Test Over</h1>	
	</div>
	<div class="container">
		<div class="section">
			<h3>Congratulations! Result for your work on {{ region }}</h3>
			<p>Total Questions tried {{ totalQ }}</p>
			<p>Total Score {{ score }}</p>
            <p>Total Score Negative marking Scheme {{ scoreN }}</p>
			<h4>{{ per }}%</h4>
            <p>Questions failed viz;</p>
            {% if failed %}
            <ul>
                {% for fail in failed %}
                    <li>{{ fail }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>None</p>
            {% endif %}
		</div>
	</div>
    <div class="section">
        <h6><a href="{{ url_for('index') }}">Start Over</a></h6>
    </div>
{% endblock %}
