{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
		<div class="header">
			<h1>Welcome to practice MCQs!</h1>	
		</div>

		<div class="container">
			<div class="section">
				<h2>Pick a region</h2>
				<hr>
				
					<form action="/" method="post">
						{% for region in regions %}
						<input type="radio" name="region" value="{{ region }}">{{ region }}<br>
						{% endfor %}
						
						<br><br><br>

						<h3>Start</h3>
                        <p><h6>NB: </h6>start number, plus four must be a multiple of 5. one inclusive</p>
						<br>
						<input type="number" name="start" min="1" max="750" placeholder="number">
						<input type="submit" value="Submit">
					</form>
			</div>
		</div>
{% endblock %}