{% extends "layout.html" %}

{% block title %}
    Questions
{% endblock %}

{% block main %}
		<div class="header">
			<h1>Practice MCQs!</h1>
            <h3>{{ region }}</h3>
		</div>

		<div class="container">

			<div class="section">
                {% if start < limit %}
				<form action="/add" method="post">
					<table>
						<thead>
							<tr>
								<th>Question</th>
								<th>True</th>
								<th>Fase</th>
							</tr>
						
						</thead>
						<tbody>
							<tr>
								<td>{{ start }}</td>
								<input name="first" value="{{ start }}" type="hidden">
								<td><input type="radio" value="T" name="group0"></td>
								<td><input type="radio" value="F" name="group0"></td>
							</tr>
							<tr>
								<td>{{ start+1 }}</td>
								<td><input type="radio" value="T" name="group1"></td>
								<td><input type="radio" value="F" name="group1"></td>
							</tr>
							<tr>
								<td>{{ start+2 }}</td>
								<td><input type="radio" value="T" name="group2"></td>
								<td><input type="radio" value="F" name="group2"></td>
							</tr>
							<tr>
								<td>{{ start+3 }}</td>
								<td><input type="radio" value="T" name="group3"></td>
								<td><input type="radio" value="F" name="group3"></td>
							</tr>
							<tr>
								<td>{{ start+4 }}</td>
								<input name="last" value="{{ start+5 }}" type="hidden">
								<td><input type="radio" value="T" name="group4"></td>
								<td><input type="radio" value="F" name="group4"></td>
							</tr>
							
						</tbody>
					</table>
					<br>
					<input type="submit" value="next">
				</form>
                {% else %}
                <h3>You have reached the End</h3>
                {% endif %}
				<br>
                
            <div class="section">
                <p>Quit and <a href="{{ url_for('index') }}">Start Over</a></p>
            </div>

			<div class="section">
				{% if current_med_score %}
				<center>
					<form action="/end">
						<input type="submit" value="End">
					</form>
				</center>
			</div>
			
			<div class="section">
				<p>Good luck!</p>
			</div>
			{% endif %}
{% endblock %}