{% extends "layout.html" %}

{% block script %}
    <script>
        function toggle()
        {
            let scoe = document.querySelector('#score');
            if (scoe.style.visibility == 'hidden')
            {
                score.style.visibility = 'visible';
                document.querySelector('#hide').value = 'hide';
            }
            else
            {
                score.style.visibility = 'hidden'
                document.querySelector('#hide').value = 'see';
            }
        }
    </script>
{% endblock %}

{% block title %}
    Questions
{% endblock %}

{% block main %}
		<div class="header">
			<h1>Practice MCQs!</h1>
            <h3>{{ region }}</h3>
		</div>

		<div class="container">

			<div class="section">
                {% if start < limit %}
                <p>Good luck!</p>
				<form action="/add" method="post">
					<table>
						<thead>
							<tr>
								<th>Question</th>
								<th>True</th>
								<th>Fase</th>
							</tr>
						
						</thead>
						<tbody>
							<tr>
								<td>{{ start }}</td>
								<input name="first" value="{{ start }}" type="hidden">
								<td><input type="radio" value="T" name="group0"></td>
								<td><input type="radio" value="F" name="group0"></td>
							</tr>
							<tr>
								<td>{{ start+1 }}</td>
								<td><input type="radio" value="T" name="group1"></td>
								<td><input type="radio" value="F" name="group1"></td>
							</tr>
							<tr>
								<td>{{ start+2 }}</td>
								<td><input type="radio" value="T" name="group2"></td>
								<td><input type="radio" value="F" name="group2"></td>
							</tr>
							<tr>
								<td>{{ start+3 }}</td>
								<td><input type="radio" value="T" name="group3"></td>
								<td><input type="radio" value="F" name="group3"></td>
							</tr>
							<tr>
								<td>{{ start+4 }}</td>
								<input name="last" value="{{ start+5 }}" type="hidden">
								<td><input type="radio" value="T" name="group4"></td>
								<td><input type="radio" value="F" name="group4"></td>
							</tr>		
						</tbody>
					</table>

					    <input style="float: right;" type="submit" value="next">
				    
                </form>
                <br>
            </div>
                {% else %}
                <div class="section">
                    <h3>You have reached the End</h3>
                </div>
                {% endif %}
            <br>  
            {% if current_med_score %}
            <div class="section">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <form action="/end">
                                    <input type="submit" value="End">
                                </form>
                            </th>
                            <th>    
                                <p style="visibility: hidden;" id="score"> score = {{ current_score }} </p>
                            </th>
                            <th>
                                <form onsubmit="toggle(); return false;">
                                    <input id="hide" type="submit" value="see">
                                </form>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
			{% endif %}

            <div class="section">
                <center>
                    <p>Quit and <a href="{{ url_for('index') }}">Start Over</a></p>
                </center>
            </div>
        </div>
{% endblock %}